
onewordstory/__pycache__/onewordstory.cpython-37.pyc
.idea/workspace.xml
.idea/workspace.xml
onewordstory/__pycache__/onewordstory.cpython-37.pyc
.idea/workspace.xml
.idea/workspace.xml
countdown_tagger/__pycache__/countdown_tagger.cpython-37.pyc
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
